@page
@model MealPlannerRazor.Pages.CreateMealPlan.MealPlanModel
@using System.Collections.Generic;
@{
}
@{
    var MealplanDays = Model.Mealplan.Zip(Model.daysForMeals, (m, d) => new { Recipe = m, Day = d});
    
}
<h1>Meal Plan</h1>




@if (Model == null)
{
    <span>No Items Found</span>
}
else
{
    @foreach (var mealday in MealplanDays)
    {
        <div class="card mt-4" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-header-pills">@mealday.Day.Key</h2>
                <h3 class="card-header-pills">@mealday.Day.Value.ToString("MM/dd/yyyy")</h3>
                <h5 class="card-title">@mealday.Recipe.Name</h5>
                @{
                    
                    if (mealday.Recipe.RecipeDirections.Length >= 4)
                    {
                        if (mealday.Recipe.RecipeDirections.Substring(0, 4) == "http")
                        {
                            <p class="card-text"><a class="btn btn-primary" href="@mealday.Recipe.RecipeDirections" role="button">Link</a></p>
                        }
                        else
                        {
                            <p class="card-text">@mealday.Recipe.RecipeDirections</p>
                        }
                    }
                }


            </div>
        </div>
    }


}
