@page
@model MealPlannerRazor.Pages.Recipes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RecipeModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeModel.Meat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeModel.Meat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeModel.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeModel.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeModel.RecipeDirections)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeModel.RecipeDirections)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RecipeModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
