@page
@model MealPlannerRazor.Pages.Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecipeModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeModel.Meat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeModel.Meat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeModel.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeModel.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeModel.RecipeDirections)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeModel.RecipeDirections)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RecipeModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
