@page
@model MealPlannerRazor.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Recipes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <form method="get">
                    <input type="text" hidden value="name" name="sort" />
                    <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].Name)" />
                </form>
            </th>
            <th>
                <form method="get">
                    <input type="text" hidden value="meat" name="sort" />
                    <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].Meat)" />
                </form>
            </th>
            <th>
                <form method="get">
                    <input type="text" hidden value="type" name="sort" />
                    <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].Type)" />
                </form>
            </th>
            <th>
                <form method="get">
                    <input type="text" hidden value="directions" name="sort" />
                    <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].RecipeDirections)" />
                </form>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RecipeModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeDirections)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
