@page
@model MealPlannerRazor.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Recipes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @if (Request.Query["sort"] == "name" || String.IsNullOrEmpty(Request.Query["sort"]))
                {
                    <form method="get">
                        <input type="text" hidden value="namebackwards" name="sort" />
                        <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].Name)" />
                    </form>
                }
                else
                {
                <form method="get">
                    <input type="text" hidden value="name" name="sort" />
                    <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].Name)" />
                </form>
                }
                
            </th>
            <th>
                @if (Request.Query["sort"] == "meat")
                {
                <form method="get">
                    <input type="text" hidden value="meat2" name="sort" />
                    <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].Meat)" />
                </form>
                }
                else
                {
                <form method="get">
                    <input type="text" hidden value="meat" name="sort" />
                    <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].Meat)" />
                </form>
                }
            </th>
            <th>
                @if (Request.Query["sort"] == "type")
                {
                    <form method="get">
                        <input type="text" hidden value="type2" name="sort" />
                        <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].Type)" />
                    </form>
                }
                else
                {
                    <form method="get">
                        <input type="text" hidden value="type" name="sort" />
                        <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].Type)" />
                    </form>
                }
            </th>
            <th>
                @if (Request.Query["sort"] == "directions")
                {
                    <form method="get">
                        <input type="text" hidden value="directions2" name="sort" />
                        <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].RecipeDirections)" />
                    </form>
                }
                else
                {
                    <form method="get">
                        <input type="text" hidden value="directions" name="sort" />
                        <input type="submit" value="@Html.DisplayNameFor(model => model.RecipeModel[0].RecipeDirections)" />
                    </form>
                }

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RecipeModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeDirections)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
